.about-us-flex {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.about-item {
    padding: 20px;
    width: 25%;
    height: auto;
}

.about-company {
}

.photo-gallery {
    position: relative;
}

.images {
    top: 80px;
    height: 60px;
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.latest-posts {
}

.social-net {
}

.contacts {
    display: flex;
    flex-direction: column;

}

.contact-item {
    width: 100%;
    height: auto;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 25px;
}

.contact-item__text {
    padding-left: 10px;
    color: white;
    font-size: 12px;
}

.contact-item__icon i.fa {
    font-size: 24px;
}

.contact-item__icon i.fa-map-marker {
    font-size: 32px;
}

.contact-item__icon i.fa-phone {
    font-size: 32px;
}

.sales-hours {
    position: relative;
}

.subscribe {
    position: absolute;
    bottom: 10px;
    height: 60px;
    width: 100%;
}

.service-hours {
}

.parts-hours {
    position: relative;
}

.title {
    margin: 20px 0px;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

.about-us-text {
    font-size: 12px;
    color: white;
    font-style: italic;
    line-height: 20px;
}

.gal-item {
    width: 23%;
    height: 100%;
}

.gal-item img {
    height: 100%;
    width: 100%;
}

.youtube {
    font-size: 41px;
    color: white;
    background: red;
    text-align: center;
}

.youtube a:hover, a:active, a:visited {
    color: white;
}

.facebook {
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: gray;
    padding-top: 6px;
}

.twitter {
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: gray;
    padding-top: 6px;
}

.insta {
    font-size: 35px;
    color: white;
    text-align: center;
    background-color: gray;
    padding-top: 6px;
}

.hours-text {
    font-size: 11px;
    color: white;
}

.dimgray-color.dimgray-color.dimgray-color {
    color: dimgray;
}