.header-flex-wrapper {
    height: 100%;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}

.phones {
    width: 260px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.schedule {
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.location {
    width: 250px;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 10px;
}

.brend {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: auto;
    height: 100%;
    align-self: flex-start;
    font-family: 'Vollkorn SC', serif;
}

.brand__name {
    font-size: 40px;
    color: whitesmoke;
    margin-left: 10px;
}

i.icons-header {
    width: 30px;
    font-size: 46px;
    color: red;
}

a.header-text.header-text {
    color: whitesmoke;
    font-size: 15px;
}

.phones__text {
    text-align: left;
    color: whitesmoke;
    margin-left: 5px;
    padding-top: 7px;
}

.phone__text__title {
    color: #A84D4D;
    font-size: 18px;
    margin-left: 11px;
}

.schedule__text {
    text-align: left;
    color: whitesmoke;
    margin-left: 19px;
    font-size: 28px;
}

.schedule__text a {
    font-size: 15px;
}

a.month {
    display: inline-block;
    height: 20px;
    width: 20px;
    font-size: 5px;
    line-height: 10px;
}

