.main-page__text{

    position: absolute;
    width: 640px;
    height: 480px;
    top: 50px;
    left: -20%;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto Slab', serif;
}

.main-page__car {
    position: absolute;
    background: url("../images/car-red.png") no-repeat;
    width: 640px;
    height: 480px;
    top: 400px;
    left: 110px;
    transform: scale(1.25);
    visibility: hidden;
}

.main-page__form {
    position: absolute;
    top: 200px;
    right: 10px;
    height: 450px;
    width: 370px;
    background-color: #1B1B1B;
    -webkit-box-shadow: 0px 13px 50px -4px rgba(27, 27, 27, 1);
    -moz-box-shadow: 0px 13px 50px -4px rgba(27, 27, 27, 1);
    box-shadow: 0px 13px 50px -4px rgba(27, 27, 27, 1);
}

.main-page__form div.search{
    height: 50px;
    width:154px;
    background-color: #E03637;
    margin-left: auto;
    margin-right: auto;
    margin-top: 41px;
}

.main-page__form div.search a.text{
    color: whitesmoke;
    display: block;
    text-align: center;
    padding-top: 8%;
}

.form-wrapper{
    width: 100%;
    height: 100%;
    position: relative;
}

.form-wrapper div.title {
    text-align: center;
    margin-top: 53px;
    font-size: 26px;
    color: whitesmoke;
}



.form-wrapper div.inputs{
    height: 181px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}



.main-page__text__title.main-page__text__title a{
    font-size: 52px;
    color: whitesmoke;
}
.main-page__text__description{
    margin-top: 33px;
}
.main-page__text__description.main-page__text__description a{
    font-size: 13px;
    color: whitesmoke;
    line-height: 28px;
}

.main-page__text__learnmore{
    margin-top: 38px;
    width: 151px;
    height: 50px;
    background-color: #E03637;
    position: relative;
}

.main-page__text__learnmore a.text{
    color: white;
    font-size: 13px;
    display: block;
    position: absolute;
    top: 50%;  /* position the top  edge of the element at the middle of the parent */
    left: 50%; /* position the left edge of the element at the middle of the parent */

    transform: translate(-50%, -50%);

}

.main-page__text__price{
    display: flex;
}
div.month12{
    padding: 12px;
}

.main-page__text__price div.month12 a{
    font-size: 17px;
}

.main-page__text__price{
    margin-top: 27px;
}

.main-page__text__price.main-page__text__price a{
    font-size: 49px;
    color: whitesmoke;
}

a.price.price{
    color: #F73536;
}


select.form-control{
    margin-top: 37px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: #313131;
    border: none;
    color: white;
}

.have-question{
    text-align: center;
    font-size: 13px;
    margin-top: 20px;
}

div.have-question a.question{
    color: whitesmoke;
}

div.have-question a.phone{
    color: red;

}

.carousel-control-prev:active{
    background-color: #1a1a1a;
    opacity: 0.2;
}
.carousel-control-next:active{
    background-color: lightgray;
}