html, body {
    width: 100%;
    margin: 0px;
}

a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
}

.header {
    width: 100%;
    background-color: #1B1B1B;
    min-height: 143px;
    text-align: center;
    position: relative;
    font-family: 'Lato', sans-serif;
    line-height: 2em;
}

.container {
    position: absolute;
    height: 100%;
    min-width: 1200px;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
}

.navbar-menu {
    position: relative;
    min-height: 68px;
    background-color: #282828;
    width: 100%;
}

.fixed{
    position: fixed;
    top: 10px;
}

.main-page {
    position: relative;
    min-height: 866px;
    width: 100%;
    background: url("../images/road.jpg") center no-repeat;
}



.our-car{
    position: relative;
    min-height: 1872px;
    width: 100%;
}

.specials{
    position: relative;
    min-height: 1268px;
    width: 100%;
    background-color: #1A1A1A;
}

.select-car{
    position: relative;
    min-height: 504px;
    width: 100%;
    background-color: white;
}

.why-choose{
    position: relative;
    min-height: 629px;
    width: 100%;
    background:url("../images/why-us-ca.jpg") center no-repeat;
}

.clients-says{
    position: relative;
    min-height: 598px;
    width: 100%;
    background-color: white;

}
.about{
    position: relative;
    min-height: 598px;
    width: 100%;
    background-color: #1A1A1A;
}
.footer{
    position: relative;
    min-height: 60px;
    width: 100%;
    background-color: #040404;
}

.header-flex-wrapper a {
    font-weight: inherit;
    color: lightgray;
    font-size: 12px;
    font-family: FontAwesome, "Open Sans", Verdana, sans-serif;

}

/* visited link */
a:visited {
    color: red;
}

/* mouse over link */
a:hover {
    color: red;
}

/* selected link */
a:active {
    color: red;
}

#footer a{
    font-size: 10px;
}

#footer .navbar-menu_wrapper{
    flex-direction: row-reverse;
    justify-content: right;
}

#footer a{
    width:auto;
    padding: 0 20px;
}
