div.popover h3.popover-header{
    background-color: #E03637;
    color: whitesmoke;
    border: none;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;

}

div.popover-body{
    background-color: #282828;
    color: whitesmoke;
}

div.popover{
    border-radius: 0px;
    border: none;
}

