.question-block{
    height: 300px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    position: relative;
}

.red-block{
    height: 100%;
    width: 70%;
    background-image: url("../images/our-car/our-car-2.jpg");
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

.black-block{
    height: 100%;
    width: 70%;
    background-image:  url("../images/our-car/our-car-2.jpg");
    position: relative;
    margin-left: auto;
    margin-right: auto;
}



.layer{
    position: absolute;
    left: 50%;
    height: 100%;
    width: 100%;
    opacity: 0.85;
    transform: translate(-50%);
}

.bg-red{
    background-color: rgba(255, 0, 0, 0.95);
}

.bg-darkgray{
    background-color: #1A1A1A;
    opacity: 0.95;
}

.wrapper{
    width:100%;
    height: 100%;
    display: flex;
}



.content-block{
    height: 150px;
    width:80%;
    margin: auto;
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
}

.car-image{
    width: 30%;
    height: 100%;
    float: left;
    font-size: 50px;
    text-align: center;
    color: white;
}

.car-image i.fa.fa-search{
    font-size: 57px;
}

.car-image i.fa.fa-car{
    display: block;
}

.car-image i.fa.fa-usd{
    font-size: 60px;
    margin-bottom: 6px;
    display: block;
    margin-top: 10px;
}

.car-text{
    width: 70%;
    height: 100%;
    float: right;
    color: white;
    padding: 14px;
}

.car-text h6{
    text-align: center;
}