.special-cars {
    position: absolute;
    height: 865px;
    width: 100%;
    display: flex;
    /* padding-top: 380px; */
    top: 300px;
}

.special-item {
    display: flex;
    width: 100%;
    height: 865px;
    background-size: cover;
    flex-direction: column-reverse;

}

.special-item:hover .parent-wrapper,
.special-item:focus .parent-wrapper {
    transform: scale(1.2);
}

.car-item:hover .parent-wrapper,
.car-item:focus .parent-wrapper {
    transform: scale(1.15);
}


.parent:hover .child:before,
.parent:focus .child:before {
    display: block;
}

.parent-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
    transition: all .5s;
}

.special-car1 {
    flex-direction: column-reverse;
    height: 100%;
    background: url("../images/special-car/spec-car-1.jpg") no-repeat center;
    background-position-x: 33%;
}

.special-car2 {
    flex-direction: column-reverse;
    background: url("../images/special-car/spec-car-2.jpg") no-repeat center;
    background-position-x: 40%;
    background-position-y: 55%;
}

.special-car3 {

    flex-direction: column-reverse;
    background: url("../images/special-car/spec-car-4.1.jpg") no-repeat center;
    background-position-x: 58%;
    background-position-y: 83%

}

.special-car4 {
    flex-direction: column-reverse;
    background: url("../images/special-car/spec-car-4.jpg") no-repeat center;
    background-position-x: 28%;
}

.discount {
    margin-bottom: 65px;
    width: 70%;
    height: 140px;
    background-color: rgba(255, 0, 0, 0.9);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

}

.long{
    width:85%;
}

.all-width{
    padding: 0px 33px;
    width:100%;
}

.without-bg{
    background: none;
}

.flex-vertical{
    flex-direction: column;
}

.text-block {
    padding-left: 4px;
    font-weight: 900;
    font-size: 100px;
    color: white;
}

.two-rows{
    font-weight: 900;
    margin-left: 10px;
    font-size: 31px;
    color: white;
}

.small-rows-text.row-first{
    font-size: 31px; letter-spacing: 16px;
}

.small-rows-text.row-second{
    font-size: 16px;
}

.gas{
    float: left;
}

.dsg{
    float: right;
}

.row{
    width:100%;
}

.first{
    font-weight: 900;
    font-size: 44px;
}

.second{
    font-weight: 600;
    font-size: 37px;
}
.third{
    font-size: 18px;
}

a.red.red.red{
    color: red;
}

h6{
    font-family: 'Vollkorn SC', serif;
}

p.text{
    font-size: smaller;
    margin-top: 25px;
    text-align: justify;
    font-family: 'Vollkorn SC', serif;
}